body{
    background-color:#04060b ;

}
.coll{
    background-color:#080d19 ;

}
.text-color{
    color: rgb(150, 148, 148);
}
#home{
    background-image: url(../lobbies-used-to-look-better-when-our-characters-were-v0-ktqlfptu6f5a1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    /* #24396a */
    .layout{
    height: 100vh;

        background-color: rgb(0,0,0,.8);
    }
   
   
    .photo_bg{
        /* background-image: none; */
        

        mix-blend-mode: multiply
        ;
        /* mix-blend-mode: hard-light; */
        /* mix-blend-mode: normal; */
        /* background-blend-mode: multiply; */
        /* mix-blend-mode: difference;
        background: linear-gradient(90deg, #fff 50%, #000 50%) repeat-x 0 0 / 25% auto;
  animation: bg 4s linear infinite; */
    }
    .btn{
        color: #fff !important;
        background-color: #05709a;
    }
}

.active{
    /* color: #0f182e !important; */
    color: #000 !important;
    /* font-weight: bold; */
}
.color,.game_footer{
    color: #009ad8;
}
.game_footer span{
    cursor: pointer;
}
.game_btn{
    color: #fff !important;
    background-color: #05709a;
}
.layout{
    background-color: rgb(0,0,0,.5);
}
/* .container{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg");
    background-size: contain;
    background-position: center;

} */
.game_img{
filter: grayscale(100%);

}
.game_img:hover{
    transition: 1s all !important;
filter: grayscale(0%);

}
.game:hover{
    transition: 1s all !important;

    transform: scale(1.1);
}
.game{
    width: 32%;
    margin-right: 10px;
}
.nav-colored{ background-color:#000 !important; }
.nav-transparent{ background-color:transparent !important;}


.modal-dialog{
    width:100% !important;
    height: 100% !important;
    max-width: 100% !important;
}
.modal-dialog,.modal-body,.modal-header{
    /* background-color: none !important; */
    background-color:#04060b !important;
}
.btn-close{
    color: #fff !important;
    background-color: #fff !important;
}
.modal {
    --bs-modal-margin:0;
}
.loader {
    margin: 300px auto;
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
   
@media (max-width:992px){
    button.nav-link{
        border-bottom: none !important;
    }
    .nav-tabs{
        border-bottom: none !important;

    }
    .nav{
        display: block;
    }
    /* .navbar-collapse{
        text-align: center !important;

    } */
    .nav-tabs .nav-link {
        display: block !important;
    }
    .game{
        width: 48%;
    }
    .navbar-collapse.show{
        background-color:#000 !important;
    }
    @media (max-width: 767px) {
        .game{
            width: 100%;
        }
    }
}
















  


.details_layout{
    height: 100% !important;
}
  .horizontal {
   min-height: 100%;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg');
    /* background-size: cover; */
    -webkit-animation: backgroundScroll 20s linear infinite;
    animation: backgroundScroll 10s linear infinite;
    }
    
    @-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -400px 0;}
    }
            
    @keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -400px 0;}
    }